body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: white;
}

header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f6f8fb;
    padding: 60px 20px;
    text-align: center;
    color: #2d2d2d;
}

header h1 {
    font-size: 5rem;
}

header p {
    font-size: 2rem;
}

img {
    width: 260px;
    height: 120px;
    animation: bounce 2s;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY (0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-10px);
    }
}

section {
    padding: 12px 30px;
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}

.step {
    color: black;
}

.step i {
    color: #0046be;
}

.step h3 {
    color: black;
}

.step p {
    color: gray;
}

.review-list {

}

.review-list h2 {
    color: black;
}

.review-list h4 {
    color: gray;
    background-color: #f6f8fb;
}

.review-list p {
    color: #0046be;
    background-color: #f6f8fb;
}

.cta {
    text-align: center;
}

.cta-btn-primary {
    background-color:  #0046be;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.cta-btn-primary:hover {
    background-color: #00a6ff;
}

footer {
    text-align: center;
    color: white;
    background-color: #0046be;
    padding: 30px 20px;
    margin-top: 40px;
}